#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
character_set_server=utf8
utf8_general_ci
default_time_zone='+08:00'
